.App {
  text-align: center;
}
body {
  background-color: #1DB954;
  color: #191414;
}
.header {
  background-color: #191414;
  height: 10vh;
  grid-column: 1/4;
  padding: 20px;
  color: white;
}

.dayName {
  width:8vw;
  display: inline-block;
  border: 1px #191414 solid;
  margin: 0;
  background-color: #191414;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  /* grid-template-rows: 1fr 5fr; */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form {
  /* border: 1px solid #191414; */
  padding: 1em;
  margin: 1.5em;
  background-color: #191414;
  color: white;
}

.content {
  margin-top: 2em;
}
