.App {
  text-align: center;
}

.header {
  background-color: #222;
  height: 10vh;
  grid-column: 1/4;
  padding: 20px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr 5fr;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form {
  border: 1px solid black;
  margin: 1.5em;
}
